---

---

<section id="steck">
  <h2 class="steck__title">
    Если говорить о компетенциях команды профессионалов из «Альянс перспективных
    технологий», то в их число входят:
  </h2>

  <ul class="capabilities__list">
    <li class="card">
      <img src="" alt="">
      <div class="card__text"></div>
    </li>
   
    <li class="card">
      <img src="" alt="">
      <div class="card__text"></div>
    </li>
  </ul>
</section>

<style lang="scss" scoped> 
  #steck {
    width: 100%;
    height: 659px;

    padding: 54 auto;
  }
</style>
