---

---

<section id="aboutus">
  <div class="about__title">О НАС</div>
  <div class="about__container">
    <div class="about__card">
      <div class="about__card-description">
        <p>
          В продолжение работ по этой теме разработан тактический симулятор для
          руководителей тушения пожаров, который позволяет отработать различные
          сценарии развития событий во время ЧС.
        </p>
        <p>
          Одна из самых удачных разработок в которой мы принимали участие –
          виртуальный тренажер – симулятор ПТМ, который одобрен МЧС. С его
          помощью можно проводить противопожарные инструктажи во исполнение
          приказа 806 от 18.11.21 г.
        </p>
        <p>
          В продолжение работ по этой теме разработан тактический симулятор для
          руководителей тушения пожаров, который позволяет отработать различные
          сценарии развития событий во время ЧС.
        </p>
      </div>
      <img src="/ac_img1.png" alt="" />
    </div>

    <div class="about__card">
      <img src="/ac_img2.png" alt="" />
      <div class="about__card-description">
        <p>
          На сегодняшний день компания может похвастаться наличием 10 научных
          публикаций и 20 патентов на программы для ЭВМ. Тесно налажено
          сотрудничество с Академией ГПС МЧС России и Академией гражданской
          защиты МЧС республики Казахстан. Такое тесное сотрудничество позволяет
          создавать продукты, которые имеют практическое применение.
        </p>
        <p>
          Среди наших клиентов значатся такие крупные компании на российском
          рынке, как ДО «Газпром-нефть», ВТБ, До «Роснефть». Все работы велись в
          строгом соответствии с требованиями по информационной безопасности.
        </p>
      </div>
    </div>

    <div class="about__card">
      <div class="about__card-description">
        <p>
          Сегодня наша команда разработчиков активно занимается внедрением
          цифровой платформы собственного производства – «Система управления
          рисками». Его основная задача: оцифровка модели предприятия для
          безопасной навигации всех сотрудников, чтобы минимизировать риски
          получения травм. Для повышения эффективности обучения за счет
          использования цифровой платформы используются системы VR и 3D
          моделирования. Каждый риск  - это отдельный сценарий, поэтому
          платформа дает возможность работникам отработать свои действия в
          каждом из них, чтобы во время возникновения ЧС правильно действовать.
        </p>
      </div>
      <img src="/ac_img3.png" alt="" />
    </div>

    <div class="left__content"></div>
    <div class="right__content"></div>
  </div>
</section>

<style lang="scss" scoped>
  #aboutus {
    height: 1619px;
    padding: 0 154px;
  }

  .about__title {
    background: linear-gradient(
      138.65deg,
      rgb(0, 155, 141),
      rgb(28, 126, 107),
      rgb(74, 185, 163)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-family: "Graphik";
    font-size: 55px;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: 0%;
    text-align: left;
  }

  .about__container {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  .about__card {
    max-width: 1607px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 41px;

    .about__card-description {
      max-width: 700px;
      margin-top: 55px;

      color: white;
      display: flex;
      flex-direction: column;
      gap: 5px;

      p {
        color: rgb(255, 255, 255);
        font-family: Proxima Nova;
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0%;
        text-align: left;
      }
    }
  }

  @media (max-width: 600px) {
    #aboutus {
      padding: 0;
    }

    .about__title {
      font-size: 27.5px;
      line-height: 33px;
      display: none;
    }

    .about__container {
      display: none;
      gap: 0;
    }

    .about__card {
      display: none;
    }
  }
</style>
