---

---

<section id="activities">
  <h2 class="activities__title">
    Основные направления деятельности компании «Альянс перспективных технологий»
    - это разработка:
  </h2>
  <div class="activities__cards">
    <div
      class="card"
      data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1500"
      data-aos-delay="25"
    >
      <img src="/lumen.png" alt="" />
      <div class="card__description">
        виртуальных тренажеров, а точнее интерактивных обучающих симуляторов,
        призванных обучать персонал выполнять те или иные бизнес задачи на
        высоком операционном уровне;
      </div>
    </div>
    <div
      class="card"
      data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="1500"
      data-aos-delay="25"
    >
      <img src="/formula.png" alt="" />
      <div class="card__description">
        интеллектуальных систем на базе нейронных сетей, которые призваны
        помогать вашим сотрудникам в процессе сбора, анализа данных с целью
        прогнозирования развития ситуаций в будущем;
      </div>
    </div>
    <div
      class="card"
      data-aos="fade-up"
      data-aos-duration="1500"
      data-aos-easing="linear"
      data-aos-delay="25"
    >
      <img src="/phone.png" alt="" />
      <div class="card__description">
        удобных и многофункциональных мобильных приложений на базе двух
        популярных операционных систем согласно Техническому заданию,
        полученному от заказчика.
      </div>
    </div>
  </div>
  <div class="activities__description">
    Внедрение наших продуктов позволяет компаниям оптимизировать свои накладные
    расходы за счет уменьшения статьи по обучению сотрудников. Экономия может
    достигать внушительных 3-5 тысяч на каждого работника, что в рамках крупных
    холдингов или концернов ведет к серьезной экономии средств.
  </div>
</section>

<style lang="scss" scoped>
  #activities {
    min-height: 781px;
    padding: 54px calc(50% - 606px);

    display: flex;
    flex-direction: column;
    gap: 38px;

    background-color: #101010;
  }

  .activities__title {
    max-width: 1272px;

    background: linear-gradient(
      138.65deg,
      rgb(0, 155, 141),
      rgb(28, 126, 107),
      rgb(74, 185, 163)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-family: "Graphik";
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0%;
    text-align: left;
  }

  .activities__cards {
    display: flex;
    gap: 30px;

    .card {
      max-width: 370px;
      max-height: 367px;
      padding: 38px 32px;
      color: #fff;

      img {
        max-width: 82px;
        height: 82px;
        margin-bottom: 17px;
      }

      border: 1px solid rgb(0, 155, 141);
      border-radius: 20px;

      background: rgb(28, 28, 28);
    }
  }

  .card__description {
    max-width: 350px;

    color: rgb(255, 255, 255);
    font-family: "Proxima";
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;

    margin-bottom: 20px;
  }

  .activities__description {
    max-width: 1180px;
    margin-top: 42px;

    color: rgb(255, 255, 255);
    font-family: "Proxima";
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
  }

  @media (max-width: 380px) {
    #activities {
      padding: 0 20px;
    }

    .activities__cards {
      height: 368px;

      display: flex;
      gap: 190px;

      .card {
        max-width: 330px;
        padding: 28px 32px;
        color: #fff;

        img {
          max-width: 82px;
          height: 82px;
          margin-bottom: 17px;
        }

        border: 1px solid rgb(0, 155, 141);
        border-radius: 20px;

        background: rgb(28, 28, 28);

        .card__description {
          margin-bottom: 20px;
        }
      }
    }
  }

  @media (max-width: 600px) {
    #activities {
      padding: 20px calc(50% - 280px);
      margin: 0;
    }

    .activities__title {
      margin-left: 20px;
      font-size: 18px;
      line-height: 23px;
    }

    .activities__cards {
      height: 150%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 25px;
    }

    .activities__description {
      margin: 0;
      margin-left: 20px;
      margin-right: 20px;

      font-size: 10px;
      line-height: 14px;
    }
  }

  /*@media (min-width: 600px) and (max-width: 1440px) {
    #activities {
      padding: 0 120px;
      margin: 0;
    }

    .activities__cards {
      gap: 100px;
    }
  }*/
</style>
