---

---

<section id="other">
  <h2 class="other__title">Платформа также позволяет:</h2>
  <ul class="other__list">
    <li class="other__card">
      <img src="steck-icon.png" alt="" />
      <div class="card__text">упростить работу с регламентами и данными;</div>
    </li>

    <li class="other__card">
      <img src="steck-icon.png" alt="" />
      <div class="card__text">ускорить процессы ликвидации ЧС</div>
    </li>

    <li class="other__card">
      <img src="steck-icon.png" alt="" />
      <div class="card__text">
        продемонстрировать и отработать возможные риски
      </div>
    </li>
  </ul>
</section>

<style lang="scss" scoped>
  #other {
    width: 100%;
    padding: 54px calc(50% - 606px);
    margin-bottom: 25px;

    background-image: url("banner-other.png");
  }

  .other__title {
    background: linear-gradient(
      138.65deg,
      rgb(0, 155, 141),
      rgb(28, 126, 107),
      rgb(74, 185, 163)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-family: "Graphik";
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0%;
    text-align: left;
  }

  .other__list {
    display: flex;
    gap: 30px;
  }

  .other__card {
    max-width: 370px;
    height: 105px;

    margin-top: 39px;

    display: flex;
    flex-direction: row;
    gap: 21px;
    align-items: center;
    justify-content: center;

    border: 1px solid rgb(0, 155, 141);
    border-radius: 10px;

    background: rgb(28, 28, 28);

    img {
      height: 57px;
      width: 57px;
    }

    .card__text {
      width: 224px;

      color: rgb(255, 255, 255);
      font-family: "Proxima";
      font-size: 20px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0%;
      text-align: left;
    }
  }

  @media (min-width: 600px) and (max-width: 1000px) {
    .other__card {
      max-width: 280px;
    }

    .other__list {
      gap: 10px;
    }
  }

  @media (max-width: 600px) {
    #other {
      padding: 10px 20px;
      height: max-content;
      margin-top: 50px;
    }

    .otehr__title {
      font-size: 18px;
      line-height: 23px;
    }

    .other__card {
      max-width: 90vw;
    }

    .other__list {
      flex-direction: column;
      gap: 15px;
    }
  }
</style>
