---

---

<section id="products">
  <div>
    <h2 class="product__title">Продукты</h2>
    <div class="product__text">
      <p>
        Основной продукт компании «Альянс перспективных технологий», который
        отлично себя зарекомендовал на производстве – это цифровая платформа
        «Система управления рисками».
      </p>
      <br>
      <p>
        Это наша собственная разработка, которая предполагает оцифровку модели
        предприятия с четким наложением зон опасностей. Система в первую очередь
        создавалась для создания путей безопасной навигации сотрудников по
        объекту с повышенной опасностью.
      </p>
      <br>
      <p>
        Навигация создается за счет использования трекинга сотрудников на
        объекте и построения на основе полученных данных пространственной
        модели. Для построения маршрутов, которые являются полностью
        безопасными, привлекаются нейронные сети, многократно облегчающие весь
        процесс.
      </p>
      <br>
    </div>
  </div>

  <div>
    <img src="product.png" alt="Image for the product section" />
  </div>
</section>

<style lang="scss" scoped>
  #products {
    width: 100%;
    padding: 54px 154px;

    display: grid;
    grid-template-columns: 1fr 1fr;

    .product__title {
      background: linear-gradient(
        138.65deg,
        rgb(0, 155, 141),
        rgb(28, 126, 107),
        rgb(74, 185, 163)
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      font-family: "Graphik";
      font-size: 55px;
      font-weight: 700;
      line-height: 66px;
      letter-spacing: 0%;
      text-align: left;
    }

    .product__text {
      color: rgb(255, 255, 255);
      font-family: "Proxima";
      font-size: 20px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0%;
      text-align: left;
    }

    img {
      max-width: 781px;
      height: 519px;

      border-radius: 20px;
    }
  }

  @media (max-width: 600px) {
    #products {
      margin-top: 40px;
      padding: 0 calc(50% - 280px);

      display: flex;
      flex-direction: column;
      gap: 10px;

      .product__title {
        font-size: 27.5px;
        line-height: 33px;
        margin-left: 20px;
      }

      .product__text {
        font-size: 12px;
        line-height: 16px;
        margin-left: 20px;
      }

      img {
        width: 90vw;
        height: 30vh;
        margin-left: 20px;
      }
    }
  }

  @media (max-width: 1440px) {
    #products {
      img {
        width: 600px;
        height: 519px;
      }
    }
  }
</style>
