---

---

<section id="about">
  <h2 class="about__title">
    Основные направления деятельности компании «Альянс перспективных технологий»
    - это разработка:
  </h2>
  <div class="about__cards">
    <div class="card">
      <img src="" alt="" />
      <div class="card__description"></div>
    </div>
    <div class="card">
      <img src="" alt="" />
      <div class="card__description"></div>
    </div>
    <div class="card">
      <img src="" alt="" />
      <div class="card__description"></div>
    </div>
  </div>
  <div class="about__description">Lorem ipsum dolor sit amet.</div>
</section>

<style lang="scss" scoped>
  #about {
    height: 781px;
    margin: 0 154px;

    display: flex;
    flex-direction: column;
    gap: 38px;
  }

  .about__cards {
    height: 368px;

    display: flex;
    gap: 190px;

    .card {
      width: 400px;

      border: 2px solid rgb(0, 155, 141);
      border-radius: 20px;

      background: rgb(28, 28, 28);
    }
  }
</style>
