---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Activities from "@components/Sections/ActivitiesSection.astro";
import About from "@components/Sections/AboutSection.astro";
import Principles from "@components/Sections/PrinciplesSection.astro";
import Steck from "@components/Sections/SteckSection.astro";
import ProductSection from "@components/Sections/ProductSection.astro";
import OtherSection from "@components/Sections/OtherSection.astro";
import "animate.css";
---

<Layout title="ООО'Альянс перспективных технологи'">
	<main>
		<Header />
		<section id="banner">
			<div class="banner__content">
				<h1 class="title animate__animated animate__fadeInUp">
					Компания <br /> «Альянс перспективных технологий»
				</h1>
				<p class="description">
					объединила под своим началом настоящих профессионалов в своей области.
					Команда специалистов занимается автоматизацией бизнес-процессов за
					счет внедрения в повседневную работу современных инновационных
					решений. Удачно подобранный кадровый состав позволяет решать проблемы
					различного уровня сложности, среди них самая главная – делать сложные
					и непонятные вещи максимально понятными и доступными на интуитивном
					уровне.
				</p>
			</div>
		</section>
		<Activities />
		<About />
		<Principles />
		<Steck />
		<ProductSection />
		<OtherSection />
		<footer>
			<div class="logo"><img src="/logo.png" alt="" /></div>
			<div class="name">
				<p></p>
				<p></p>
				<a href="">Политика_конфиденцальности</a>
			</div>

			<div class="addres">
				<p></p>
			</div>

			<div class="contacts">
				<div class="number">+7(926)9669169</div>
				<div class="email">SIF@APT-IT.PRO</div>
			</div>
		</footer>
	</main>
</Layout>

<style lang="scss">
	main {
		max-width: 100%;
		background-color: #101010;
	}

	#banner {
		height: 659px;
		width: 100%;
		background-image: url("/banner-fhd.png");
		background-size: cover;

		padding: 120px 0 127px 113px;
	}

	.banner__content {
		max-width: 1075.2px;
		height: 198px;

		color: white;
		display: flex;
		flex-direction: column;
		gap: 22px;

		.title {
			background: linear-gradient(
				138.65deg,
				rgb(0, 155, 141),
				rgb(28, 126, 107),
				rgb(74, 185, 163)
			);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-fill-color: transparent;
			font-family: "Graphik";
			font-size: 60px;
			line-height: 66px;
			letter-spacing: 0%;
			text-align: left;
		}

		.description {
			color: rgb(255, 255, 255);
			font-family: "ProximaNova";
			font-size: 22px;
			font-weight: 400;
			line-height: 32px;
			letter-spacing: 0%;
			text-align: left;
		}
	}

	footer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		padding: 0 154px;
		p {
			color: rgb(255, 255, 255);
			font-family: "Proxima";
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			letter-spacing: 0%;
			text-align: left;
		}
	}
</style>
