---

---

<nav>
  <ul class="nav__list">
    <li class="menu-item">Направления</li>
    <li class="menu-item">О нас</li>
    <li class="menu-item">Принципы</li>
    <li class="menu-item">Стек технологий</li>
    <li class="menu-item">Продукты</li>
    <li class="menu-item">Другое</li>
  </ul>
</nav>

<style lang="scss" scoped>
  nav {
  }

  .nav__list {
    display: flex;
    gap: 20px;

    list-style: none;
    color: white;
    font-size: 18px;
    font-family: "Proxima";
  }
</style>